<h1>GitHub Projects</h1>
{{#if json}}
    {{#each json}}
        <div class="card red">
            <div class="card-content white-text">
                <a href="{{html_url}}"><span class="card-title">{{name}}</span></a>
                <p>Url: {{html_url}}</p>
                <p>{{description}}</p>
                <p>Created: {{formatDate created_at 'MMMM DD YYYY, hh:mm:ss a'}}</p>
                <p>Updated: {{formatDay updated_at}}</p>
            </div>
        </div>
    {{/each}}
{{/if}}